@import 'variables.css';

* {
	font-family: 'Roboto', sans-serif;
	color: #252525;
}

body {
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	/* background: linear-gradient(150deg, var(--color-background-gradient-1), var(--color-background-gradient-2)); */
}

.container {
	margin: 3rem auto;
	width: 80vw;
}

.container h1 {
	text-align: center;
}

.wrapper {
	margin: 0 auto 2rem;
	max-width: 960px;
	padding: 2rem 2rem 3rem;
	background-color: white;
	border-radius: 0.5rem;
	border: 1px solid lightgray;
	box-shadow: 5px 5px 15px rgba(var(--color-dark-1-rgb), var(--box-shadow-opacity));
}

.wrapper-title {
	font-size: 1rem;
	margin: 0;
	position: relative;
	top: -2.625rem;
	width: fit-content;
	background-color: white;
	padding: 0 0.5rem;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 1rem;
	width: 100%;
}

.form-column {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.input-wrapper {
	width: 95%;
}

.large-text {
	height: 5rem;
}

label {
	font-size: 0.75rem;
	font-weight: 600;
}

input {
	border: 1px solid lightgray;
	border-radius: 0.125rem;
}

input:focus {
	border: 2px solid darkgrey;
}

input[type='text'],
textarea {
	display: flex;
	width: 100%;
	padding: 0.5rem 0.25rem;
	margin-bottom: 1rem;
}

textarea {
	resize: none;
}

.custom-btn {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
		4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	outline: none;
}

/* 1 */
.btn-1 {
	background: rgb(6, 14, 131);
	background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
	border: none;
}

.btn-1:hover {
	background: rgb(0, 3, 255);
	background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);
}
